# ===========================
# Dataset
# ===========================

data/raw/*
data/processed/*
data/predictions/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/README.md

# ===========================
# Models
# ===========================

# models/*.pkl

# ===========================
# Predictions
# ===========================

predictions/*.csv

# ===========================
# Reports
# ===========================

reports/*.xlsx

# ===========================
# Python
# ===========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===========================
# Virtual Environments
# ===========================

.venv/
venv/
env/

# ===========================
# Environment Variables
# ===========================

.env

# ===========================
# Jupyter
# ===========================

.ipynb_checkpoints/

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# macOS
# ===========================

.DS_Store